@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@model MvcMovie.Models.Views.CommentViewModel
@using MvcMovie.Models.Views;

@{
    ViewData["Title"] = Localizer["CommentTitle"];
    ViewData["Back"] = Localizer["Back"];
    ViewData["Comment"] = Localizer["Comment"];
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("AddComment", "Comments", FormMethod.Post))
{
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="MovieId" id="movieId" />
    <div class='form-group'>
        <label asp-for="Text" class="col-md-2"></label>
        <div class="col-md-4">
            <input type="text" asp-for="Text" id="comment-text">
        </div>
    </div>
    <div class='form-group'>
        <input type="submit" value="Send comment" class="btn btn-primary"/>
    </div>
}
